@model IEnumerable<InstemTest.Models.MovieDataModel>
@{
	ViewData["Title"] = "Movie List Manager";
}

<div class="text-left">
	<h3 class="display-4">Movies Found</h3>
	<table style="width: 100%">
		@{
			if (Model == null)
			{
				<script>alert("Can't retrieve any data from Server");</script>
			}
			else
			{
				foreach (var row in Model)
				{
					<tr>
						<a href="/Home/MovieDetailView?movieName=@row.Title">@row.Title</a><br>
					</tr>
				}
			}
		}
	</table>
</div>